/* Main colors */

.text-green {
    color: #00edc5;
}

.bg-dark-grey {
    background-color: #333;
}

/* Borders */

.border-radius-20 {
    border-radius: 20px;
}


/* Flex-box  */

.center {
    display: flex;
    place-content: center;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-stretch {
    justify-content: stretch;
}

.align-center {
    align-items: center;
}

/* Margin */

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mb-0 {
    margin-bottom: 0;
}

/* Padding */

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

/* Width and Height */

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
} 

/* Positions */

.relative {
    position: relative;
}